@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{ margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: white;
  background-color: #1b1b32;
  
}

h1 {
  letter-spacing: 3px;
  text-transform: uppercase;
}

p {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.container {
  max-width: 800px;
  margin: auto;
}

form {
  background-color: darkcyan;
  padding: 2rem;
}

.form-group {
  margin: 1.2rem;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  border: white;
  border-radius: 0.25rem;
}

input{
  margin-right: 0.5rem;
  min-height: 1.2rem;
  min-width: 1.2rem;
}

.input-textarea {
  min-height: 100px;
  width: 100%;
  padding: 0.5rem;
  resize: vertical;
}

.submit-button {
  width: 100%;
  padding: 0.5rem;
  background-color: green;
  color: inherit;
  border: 2px green solid ;
  cursor: pointer;
}

@media (max-width: 780px) {
    #description{
      margin-bottom: 20px;
    }
}